@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import "./variable";

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: $Light-grayish-blue;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;

    div {
        border-radius: 10px;
        padding: 20px;

        .head {
            display: flex;
            align-items: center;
            padding: 10px 20px 10px 0px;

            nav:nth-child(1) {
                //height: 50px;
                // width: 50px;
                background-color: hsl(263, 43%, 63%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 50px ;
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50px;
                    margin: 4px;
                }
            }

            nav:nth-child(2) {
                margin-left: 10px;

                h1 {
                    color: $White;
                } 

                p {
                    color: $Light-gray;
                }
            }
        }

        .h1 {
            font-size: 1.5em;
            color: $White;
            margin-bottom: 10px;
        }

        p {
            font-size: 1em;
            color: $Light-gray;
        }
    }

    .Daniel {
        grid-column: 1 / 3;
        background-image: url(../../images/bg-pattern-quotation.svg);
        background-color: $Moderate-violet;
        background-repeat: no-repeat;
        background-position: top right;
        background-position-x: 80%;
    }

    .Jonathan {
        grid-column: 3 / 4;
        background-color: $Very-dark-grayish-blue;

        .head nav:nth-child(1) {
            background-color: unset;
        }
    }

    .Kira {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
        background-color: white;

        .head nav:nth-child(1) {
            background-color: white;
        }

        .head nav:nth-child(2) h1 {
            color: black;
        }
        
        h1 {
            color: black;
        }

        p {
            color: $Very-dark-grayish-blue;
        }
    }

    .Jeanette {
        grid-column: 1 / 2 ;
        grid-row: 2 / 3;
        background-color: white;

        .head nav:nth-child(1) {
            background-color: white;
        }

        .head nav:nth-child(2) h1 {
            color: black;
        }
        
        h1 {
            color: black;
        }

        p {
            color: $Very-dark-grayish-blue;
        }
    }

    .Patrick {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        background-color: $Very-dark-blackish-blue;
    }
}

.nav {
    height: 50px;
    width: 50px;
}
